body {
	margin: 0;
	font-family: Helvetica;
	background:  yellow;

	
}

h1 {
	font-weight: lighter;

	
}

h1 {
	font-weight: lighter;
}

p {
	max-width: 500px;
	color:  blue;
}

#container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height:  100vh;

}

#logo {
	height:  60px;
	width:  60px;
}

